<div class="info right">
  <div class="to-connection">
    <span><%= link_to(t(:to_connections), root_path) %></span>
    <span><%= link_to(t(:to_accounts), connection_accounts_path(@account.connection)) %></span>
  </div>
</div>
